<%= form_with(model: bookmark, local: true) do |form| %>
  <% if bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <% bookmark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :bookmark_url %>
  </div>

  <div class="field">
    <%= form.label :topic_id %>
    <%= form.text_field :topic_id, id: :bookmark_topic_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
