<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @bookmark.url %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @bookmark.topic %>
</p>

<%= link_to 'Edit', edit_topic_bookmark_path(@topic, @bookmark) %> |
<%= link_to 'Back', topics_path %>

<%= render partial: 'likes/like', locals: { bookmark: @bookmark } %>
