<h1><%= @topic.title %></h1>

<%= link_to "Edit Topic", edit_topic_path, class: 'btn btn-success' %>
<%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this topic?'} %>
<%= link_to "New Bookmark", new_topic_bookmark_path(@topic), class: 'btn btn-info' %>

<% @topic.bookmarks.each do |bookmark| %>
  <h3><u><%= link_to bookmark.url, topic_bookmark_path(@topic, bookmark) %></u></h3>
<% end %>
